@mixin coeur_vide-plein($padding-top, $taille-font, $position-top){

    &__icone{
        padding-top:$padding-top;
        font-size: $taille-font;
        z-index:1;
        position: relative;

        .fas.fa-heart{
            position:absolute;
            top:$position-top;
            left:0;
            background-image:$mix_p_s_dark;
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-background-clip: text;
            color: transparent;
            opacity:0;
            transition: opacity 1500ms;
        }

        &:hover{
            cursor: pointer;

            & .far.fa-heart{
                opacity:0;
            }

            & .fas.fa-heart{
                opacity:1;
            }
        }
    }
}