@font-face
{
	font-family:'Roboto-thin';
	src: url("../ressources/polices/Roboto/Roboto-Thin.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family:'Roboto';
	src: url("../ressources/polices/Roboto/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family:"Shrikhand";
	src: url("../ressources/polices/Shrikhand/Shrikhand-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}