@import "../utils/variables";

.menu{
    margin-top: -80px;
    background-color: white;
    border-radius:40px 40px 0 0;
    padding-top:20px;
    
    &__header{
        display:flex;
        justify-content: space-between;
        margin:auto 20px auto 20px;
        
        &__icone{
            padding-top:20px;
            font-size: 2em;
        }
    }

    &__phase{
        margin:40px 20px auto 20px; 
        
        &__nom-plat{
            height:80px;
            margin-left: 20px;
            border:1px solid $couleur_border;
            border-radius: 20px;
            padding: 0 10px 0 10px;
            margin: 10px 0 10px 0;
            position:relative;
            z-index: 1;
            
            &:hover{
                cursor: pointer;
                &::after{
                transform: scaleX(0.90);
                }
            }
            
            &::after{
                content:"";
                position:absolute;
                transform-origin: right;
                background-color: $couleur_tertiaire;
                z-index: -1;
            }
        }
    }
    
    h2{
        font-family: 'Shrikhand', tahoma;
    }
    
    h3{
        text-transform: uppercase;
        
        .souligne-bleu{
            display:inline;
            border-bottom: 1px solid $couleur_tertiaire;
        }
    }
    
    h4{
        font-family: 'Roboto', tahoma;
        margin-bottom:0;
    }
    
    span{
        margin-top:5px;
        display:flex;
        justify-content: space-between;
    }
    p{
        margin-top:0;
    }
    
    .prix{
         font-family: 'Roboto', tahoma;
    }
}