@import "../utils/variables";

.menu{
    margin-top: -80px;
    background-color: white;
    border-radius:40px 40px 0 0;
    padding-top:20px;
    
    &__header{
        display:flex;
        justify-content: space-between;
        margin:auto 20px auto 20px;
        
        &__icone{
            padding-top:20px;
            font-size: 2em;
            z-index:1;
            position: relative;
            
            &:hover{
                cursor: pointer;
                
                &::after{
                    opacity:1;
                }
            }
            
            &::after{
                content:"\f004";
                font-family: FontAwesome;
                color:$couleur_secondaire;
                position:absolute;
                top:22px;
                right:0;
                bottom:0;
                left:0;
                opacity: 0;
                //z-index:-1;
                transition: opacity 1000ms;
            }
        }
    }

    &__phase{
        margin:40px 20px auto 20px; 
        @for $k from 1 through 4 {
            &:nth-child(#{$k}){
                animation: anim-menu 3s #{$k}s backwards;
            }
        }
        
        
        &__plat{
            display:flex;
            justify-content: space-between;
            height:80px;
            margin-left: 20px;
            border:1px solid $couleur_border;
            border-radius: 20px;
            padding: 0 10px 0 10px;
            margin: 10px 0 10px 0;
            position:relative;
            overflow: hidden;
            @for $j from 1 through 4 {
                &:nth-child(#{$j}){
                    animation: anim-menu 3s #{$j}s backwards;
                }
            }
            
            &:hover{
                cursor: pointer;
                
                &::after{
                    transform:translate(-100px,0);
                    transition: transform 1000ms;
                }
                
                .prix{
                    transform:translate(-80px,0);
                    transition: transform 1000ms;
                }
            }
            
            &::after{
                content:"\f058";
                font-family: FontAwesome;
                color:white;
                padding-top: 30px;
                font-size:20px;
                text-align: center;
                transform-origin: right;
                position: absolute;
                right:-100px;
                top:0;
                height:80px;
                width:80px;
                background-color: $couleur_tertiaire;
            }
            
            &__prix{
                padding-top:35px;
            }
        }
    }
    
    h2{
        font-family: 'Shrikhand', tahoma;
    }
    
    h3{
        text-transform: uppercase;
        
        .souligne-bleu{
            display:inline;
            border-bottom: 1px solid $couleur_tertiaire;
        }
    }
    
    h4{
        font-family: 'Roboto', tahoma;
        margin-bottom:0;
    }
    
    span{
        margin-top:5px;
        display:flex;
        justify-content: space-between;
    }
    p{
        margin-top:0;
    }
    
    .prix{
         font-family: 'Roboto', tahoma;
    }
}

@keyframes anim-menu
{
    0% {
       opacity:0;
    }
    100%{
        opacity:1;
    }
}