//-----------------------------------------------------------------------------//
//Mise en forme du header//
.header{
    font-family: 'Shrikhand', tahoma;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    height:70px;
    padding-bottom: 20px;
    
    &-btn {
        position: absolute;
        left:40px;
        top:5px;
        font-size: 28px;
        &:hover{
            color:$couleur_tertiaire;
        }
    }
    
    &-titre h1{
        color: $couleur_footer;
        text-align: center;
        font-size: 38px;
    }
}